<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="titre"></Label>
</ActionBar>

<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <Image src="res://logo"></Image>
        <Label [text]="titre" class="h1"></Label>
        <Label [text]="description" textWrap="true"></Label>
    </StackLayout>
</ScrollView>