FlexboxLayout {
    flex-direction: column;
    flexDirection: column;
    height: 50px;
    background-color: lightgray;
}

Label {
    margin-bottom: 10;
    vertical-align: center;
    horizontal-align: center;
    font-size: 24;
    width: 100%;
    padding: 15;
}

Label:nth-child(even) {
    background: #E9E9E9;
}

Label:nth-child(odd) {
    background: #ffffff;
}

Image {
    max-width: 150px;
}