<StackLayout>
    <StackLayout orientation="horizontal" class="nav">
        <Button text="Accueil" [nsRouterLink]="['/accueil']" pageTransition="slide"></Button>
        <Button text="News" [nsRouterLink]="['/news']" pageTransition="slide"></Button>
        <Button text="Connexion" [nsRouterLink]="['/conne']" pageTransition="explode"></Button>
    </StackLayout>
    <page-router-outlet></page-router-outlet>
</StackLayout>