/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import '~nativescript-theme-core/css/core.dark.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

Button {
    padding: 8 14;
    margin: 0 5;
    background-color: rgba(255, 255, 255, .2);
    width: 30%;
    color: #FFF;
}

.nav {
    background-color: #000;
}

.h1 {
    color: orangered;
    font-size: 32;
    font-weight: bold;
}

.page {
    background: #FFFFFF;
}

.btn {
    font-size: 18;
}