/* STRUCTURE */

Button {
    border-radius: 50%;
    background-color: orangered;
    color: #FFF;
    font-size: 18;
    font-weight: bold;
    text-align: center;
    horizontal-alignment: right;
    width: 50;
    height: 50;
    margin-top: 180;
}


/* LABELS */

Label {
    margin-bottom: 10;
    vertical-align: center;
    horizontal-align: center;
    width: 100%;
    padding: 10;
    border-bottom: 1 solid #000;
}

Label:nth-child(even) {
    background: #E9E9E9;
}

Label:nth-child(odd) {
    background: #ffffff;
}

.titre {
    font-size: 21;
    font-weight: bold;
    vertical-align: center;
}

.news Image {
    width: 50;
    height: 50;
    vertical-align: center;
    border-radius: 50%;
}

.news {
    animation-name: translate;
    animation-duration: 1;
    border-bottom: 1 solid #000;
}


/* ANIMATIONS */

@keyframes translate {
    from {
        transform: translateX(-100);
        opacity: 0;
    }
    to {
        transform: translateX(0, 100);
        opacity: 1;
    }
}