<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Liste de news"></Label>
</ActionBar>

<StackLayout>
    <GridLayout col="*" row="auto">
        <StackLayout row="0">
            <Image [src]="entete"></Image>
        </StackLayout>
        <StackLayout row="0">
            <Button text="O" (tap)="takeAPhoto()"></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>
<ScrollView orientation="vertical" marginTop="250">
    <StackLayout>
        <GridLayout columns="70,*" rows="50,*" *ngFor="let item of listeNews" class="news">
            <Image [src]="item.img"></Image>
            <Label [text]="item.text" clas="titre" col="2"></Label>
            <Label [text]="item.descr" textWrap="true" row="2" colSpan="2"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>